/organicity_annotation_service.iml
/target
/.gradle
/.idea
/build
/data
/STDOUT.log
/icri_cities-organicity_annotation_service.iml
/keycloak.json
/notes
/service/build
/common/build
/service/STDOUT.log
/service/keycloak.json
/classes
*.iml
*.log
**/target
